/* .app {
  background-color: bisque ;
  width: 600px ;
  margin: 0 auto ;
  padding: 40px;
  border-radius: 20px ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) ;
}
body {
  background-color: black;
} */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f8; /* Light gray background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main app container */
.app {
  width: 360px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.location-field {
  margin-top: 20px;
}

.location-field input {
  padding: 10px;
  width: calc(100% - 20px);
  border: 2px solid #6a64c9;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}

.location-field input:focus {
  border-color: #4e44a7;
}

.location-field button {
  margin-top: 10px;
  padding: 10px 20px;
  border: 2px solid #6a64c9;
  background-color: white;
  color: #6a64c9;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.location-field button:hover {
  background-color: #6a64c9;
  color: white;
}